{{ define "search" }}
{{ template "header" . }}

<section class="content results">
    {{ if not .Results.Entries }}
        <h2>ದೊರೆತಿಲ್ಲ</h2>
        <p>
            ಈ ಪದಕ್ಕೆ ವಿವರಣೆ ದೊರಕುತ್ತಿಲ್ಲ &ldquo;{{ .Query.Query }}&rdquo;.
            ಹುಡುಕಾಟ ಪಠ್ಯ ಕನ್ನಡದಲ್ಲಿದೆ ಎಂದು ಖಚಿತಪಡಿಸಿಕೊಳ್ಳಿ.
        </p>
        <p>
            No results found for &ldquo;{{ .Query.Query }}&rdquo;.
            Make sure the search query is in Kannada.
        </p>
    {{ else }}
        {{ template "results" .Results }}
    {{ end }}
</section>

{{ template "footer" . }}
{{ end }}